<article id='talk_<%= talk.id %>' class='talk <%= 'going' if current_user && current_user.voted_for?(talk) %>'>

  <h4 class='list-group-item-heading'>
    <a class='title-link'><%= talk.title %></a>
  </h4>

  <blockquote class='synopsis hide bs-callout'>
    <footer>
      <cite>
        <%= talk.speaker.presence %>
        <% if talk.location %>
          in <%= talk.location %>
        <% end %>
      </cite>
    </footer>
    <% unless talk.break? || talk.keynote? %>
      <%= simple_format talk.synopsis %>
      <div class='speaker-detail well well-sm'>
        <small><%= talk.speaker_detail %></small>
      </div>
    <% end %>
  </blockquote>

  <% if talk.votes.any? %>
    <small><%= talk.voter_names %> going</small>
  <% end %>

  <div class='text-right'>
    <% if current_user && current_user.has_not_voted_for?(talk) %>
      <%= link_to votes_path(talk_id: talk.id), method: :post, remote: false, class: 'im_going btn btn-info', role: 'button' do %>
        I'm going!
      <% end %>
    <% elsif current_user && current_user.voted_for?(talk) %>
      <%= link_to vote_path(current_user.votes.find_by(talk: talk)), method: :delete, remote: false, class: 'not_going btn btn-default', role: 'button' do %>
        Not going
      <% end %>
    <% end %>
  </div>
</article>
