<p id="notice"><%= notice %></p>

<%= render @conference %>

<ul class="nav nav-tabs">
  <% @conference.slots_by_day.each_with_index do |(day, slots), index| %>
    <li class="<%= 'active' if index == 0 %>">
      <a data-toggle="tab" href="#day_<%= index %>"><%= day %></a>
    </li>
  <% end %>
</ul>

<div class="tab-content">
  <% @conference.slots_by_day.each_with_index do |(day, slots), index| %>
    <div id="day_<%= index %>" class="tab-pane fade in <%= 'active' if index == 0 %>">
      <p>
        <% slots.each do |slot| %>
          <div class='slot'>
            <h3><%= slot.name.split(' ', 3).last %></h3>
            <%= render slot.talks %>
          </div>
        <% end %>
      </p>
    </div>
  <% end %>
</div>

<% if current_admin %>
  <p>
    <%= link_to 'Edit', edit_conference_path(@conference) %> |
    <%= link_to 'Back', conferences_path %>
  </p>
<% end %>
