<!DOCTYPE html>
<html>
  <head>
    <title>Convoter</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Convoter</a>

        </div>
        <p class="navbar-text">
          <% if current_user %>
            Signed in as <strong><%= current_user.name %></strong>!
            <%= link_to 'Sign out', signout_path, id: 'sign_out' %>
          <% else %>
            <%= link_to 'Sign in with Google', '/auth/google_oauth2', id: 'sign_in' %>
          <% end %>
        </p>
      </div>
    </nav>
    <div>
      <%= yield %>
    </div>
    <%= render 'google_analytics' %>
  </body>
</html>
